@{
    ViewData["Title"] = "Home Page";
}
<main>
    <hr>

    <div class="container">
        <div class="row">
                <form action="/api/image/upload"
                      class="dropzone dz-clickable"
                      id="image-upload"
                      method="post">
                </form>
                <div class="alert alert-success" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Sucess!</h4>
                    <p>File uploaded.</p>
                </div>
                <h2>Generated Thumbnails</h2>
                <button class="btn btn-primary" id="btnRefresh">Refresh</button>
                <div id="stored-images"></div>

                <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
            </div>
    </div>
</main>